Authorization: still to do

- [ ] Figure out the `audience` properly (especially in init of the authorization code flow)
- [ ] Encrypt the state
- [ ] Hash some fields in the db (auth code flow and device code)
- [x] Use asymeteric crypto for JWT we mint
- [ ] validate poperties against subject (in `exchange_token`)
- [ ] document the flows used
- [ ] add tests against IAM
- [ ] add tests for internal validation (tokens, scopes, etc, expiry, signing)
- [ ] One ClientID per VO ? (i.e. one swagger for all) or one clientID for all (i.e. one swagger per vo)
- [ ] One client per group ? vo in the scope instead of URL ?
- [ ] What happens if a user is suspended in IAM ( does that exists?)

> Figure out the audience properly (especially in init of the authorization code flow)

I see the rationale behind including the `audience` claim within the DIRAC token payload, in line with the JWT standard detailed in [RFC 7519 Section 4.1.3](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.3). However, the necessity of specifying an `audience` parameter at the initial stages of both the device flow and the authorization code flow puzzles me, especially since neither [RFC 6749 Section 4.1.1](https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.1) nor [RFC 8628 Section 3.1](https://datatracker.ietf.org/doc/html/rfc8628/#section-3.1) lists `audience` as a requisite parameter.

While IAM solutions like Indigo IAM or Auth0 incorporate it to distribute tokens for various external services, our scenario appears to be different, given our current use cases and architecture.
Do we foresee any scenarios where external services would require DIRAC access tokens, justifying the inclusion of the `audience` parameter right from the start?

If not, a practical approach could be to define the `audience` claim as the DIRAC server URL (e.g. as specified by `DIRACX_TOKEN_ISSUER`) within our token payloads.


> What happens if a user is suspended in IAM ( does that exists?)

Currently, a same user can belong to different VOs, but this will be different in diracX: a physical user belonging to multiple VOs will be represented as different users within the middleware.

In Dirac, because a user belongs to different VOs, he/she can be suspended by different VOs at the same time:
- userA belongs to VO1, VO2, VO3: VO1 and VO3 suspend his/her account
- userA will have a `Suspended = [VO1, VO3]` field attached to him/her

Note: diracX will be multiVO by design, and will have an "admin" VO to "rule them all". 

Question1: In diracX, do you think a user part of the "admin" VO should be allowed to suspend a given user from another VO?
In this case, the CS acts as the source of truth, and `Suspended` need to remain a list of VOs.

Personally, I don't think it's the role of the users of the "admin" VO to handle that but I might be wrong.

If it's not the case, then the `Suspended` field can become a boolean, as a user can only be suspended by an admin of the VO he/she belongs.
At this point, the IdP could potentially become the source of truth and we would not even have to manage a `Suspended` field. Here is how it would work:
- When the suspended user tries to get a token (by using any flow), diracX goes to the `scim` user endpoint of the IdP of the VO (which is standard) and checks whether the `inactive` field is `true` (standard field meaning the user is suspended).
- If it's the case, then diracX returns a 401 Error.

This would work if and only if the admin of the VO (within the diracX CS) is able to add the `scim` scope to a client. Can it be guaranteed?

If we can use this privileged scope, we would probably need to split privileges and isolate them in different clients per VO. In any case, the same question will be raised when we are going to integrate the computing/storage scope in diracX (currently they are associated to separate clients and used by Dirac).
